<!DOCTYPE html>
<html ng-app="myApp">
	<head>
		<meta charset="UTF-8">
		<title>Angular与JavaScript表达式之间的切换</title>
		<script type="text/javascript" src="../../../Resources/angular-1.6.0/angular.js" ></script>
	</head>
	<body >
		<div ng-controller="myController">
			执行js表达式:<br />
			<input type="text" ng-model="jsData" />
			<button ng-click="jsDataClick(jsData)"></button>
			<br /><br />
			执行angular表达式:<br />
			<input type="text" ng-model="angularData" />
			<span ng-bind="$eval(angularData)"></span>
		</div>
		
		<script type="text/javascript">
			angular.module("myApp",[]).controller("myController",["$scope",function($scope){
				$scope.jsData = 32.98;
				$scope.angularData = "10 + 1 | number:0";
				
				$scope.jsDataClick = function(expValue){
					$scope.jsData = parseInt(expValue) + 10;
					$scope.angularData = $scope.jsData + 10;
				}
			}]);
		</script>
	</body>
</html>
