<!DOCTYPE html>
<html ng-app="myApp">

	<head>
		<meta charset="UTF-8">
		<title>表单基本验证功能</title>
		<script type="text/javascript" src="../../../Resources/angular-1.6.0/angular.js" ></script>
		
		<style type="text/css">
			body{
				font-size: 40px;
			}
			input{
				font-size: 40px;
			}
		</style>
	</head>

	<body>
		<form name="temp_form" ng-submit="save()" ng-controller="form_controller">
			<div>
				<input type="text" name="temp_name" ng-model="myName" required />
				<span ng-show="temp_form.temp_name.$error.required"> 姓名不能为空！</span>
			</div>

			<div>
				<input type="text" name="temp_email" ng-model="myEmail" required />
				<span ng-show="temp_form.temp_email.$error.required">邮件不能为空!</span>
				<!--
                	作者：1327488075@qq.com
                	时间：2016-12-06
                	描述：格式不对的时候没有提示异常信息
                -->
				<span ng-show="temp_form.temp_email.$error.email">邮件格式不对！</span>
			</div>

			<div>
				<input type="submit" ng-disabled="temp_form.$invalid" value="提交" />
			</div>

		</form>

		<script type="text/javascript">
			angular.module("myApp", []).controller("form_controller", ["$scope", function($scope) {
				$scope.myName = "lixuanyan";
				$scope.myEmail = "1327488075";
				$scope.save = function() {
					console.log("提交成功！");
				}
			}]);
		</script>
	</body>

</html>