<!DOCTYPE html>
<html ng-app="myApp">
	<head>
		<meta charset="UTF-8">
		<title>作用域事件的传播</title>
		<script type="text/javascript" src="../../../Resources/angular-1.6.0/angular.js" ></script>
	</head>
	<body>
		<div ng-controller="parentController">
			<div ng-controller="myController">
				<button ng-click="to_parent()">向父级传播</button>
				<button ng-click="to_child()">向子级传播</button>
				
				<div ng-controller="childController"></div>
			</div>
			
			<div ng-controller="brotherController"></div>
		</div>
		
		<script type="text/javascript">
			var myApp = angular.module("myApp",[]);
			myApp.controller("myController",["$scope",function($scope){
				$scope.to_parent = function(){
					$scope.$emit("event1","来源于子级");
				}
				
				$scope.to_child=function(){
					$scope.$broadcast("event2","来源于父级");
				}
			}]);
			
			myApp.controller("parentController",["$scope",function($scope){
				$scope.$on("event1",function(event,data){
					console.log("在父级中听到的数据:"+data);
				});
				
				$scope.$on("event2",function(event,data){
					console.log("在父级中听到的数据:"+data);
				});
			}]);
			
			myApp.controller("childController",["$scope",function($scope){
				$scope.$on("event1",function(event,data){
					console.log("在子级中听到的数据："+data);
				});
				
				$scope.$on("event2",function(event,data){
					console.log("在子级中听到的数据:"+data);
				});
			}]);
			
			myApp.controller("brotherController",["$scope",function($scope){
				$scope.$on("event1",function(event,data){
					console.log("在同级中听到的数据："+data);
				});
				$scope.$on("event2",function(event,data){
					console.log("在同级中听到的数据："+data);
				});
			}]);
		</script>
	</body>
</html>
