<!DOCTYPE html>
<html ng-app="myApp">
	<head>
		<meta charset="UTF-8">
		<title>作用域的层级</title>
		<script type="text/javascript" src="../../../Resources/angular.min.js"></script>
	</head>
	<body>
		<div ng-controller="schoolController">
			<div ng-controller="classOneController">
				<ul>
					<li>{{shoolName}}{{className}}</li>
					<li>
						<span>序号</span>
						<span>姓名</span>
						<span>性别</span>
						<span>英语</span>
						<span>数学</span>
					</li>
					<li ng-repeat="stu in classOneData">
						<span>{{$index + 1}}</span>
						<span>{{stu.name}}</span>
						<span>{{stu.sex}}</span>
						<span>{{stu.English}}</span>
						<span>{{stu.Math}}</span>
					</li>
				</ul>
			</div>
			
			<div ng-controller="classTwoController">
				<ul>
					<li>{{shoolName}}{{className}}</li>
					<li>
						<span>序号</span>
						<span>姓名</span>
						<span>性别</span>
						<span>英语</span>
						<span>数学</span>
					</li>
					<li ng-repeat="stu in classTwoData">
						<span>{{$index + 1}}</span>
						<span>{{stu.name}}</span>
						<span>{{stu.sex}}</span>
						<span>{{stu.English}}</span>
						<span>{{stu.Math}}</span>
					</li>
				</ul>
			</div>
		</div>
		
		<script type="text/javascript">
			var myApp = angular.module("myApp",[]);
			myApp.controller("schoolController",["$scope",function($scope){
				$scope.shoolName = "实验小学";
			}]);
			
			myApp.controller("classOneController",["$scope",function($scope){
				$scope.className = "一班";
				$scope.classOneData = [
				{name:"氮磷钾肥说",sex:"女",English:75,Math:64},
				{name:"fdas",sex:"女",English:75,Math:64},
				{name:"fads",sex:"男",English:85,Math:67},
				{name:"噶奋斗",sex:"男",English:55,Math:84},
				{name:"给对方",sex:"女",English:94,Math:75},
				{name:"噶地方",sex:"男",English:79,Math:25}
				];
			}]);
			
			myApp.controller("classTwoController",["$scope",function($scope){
				$scope.className = "二班";
				
				$scope.classTwoData = [
				{name:"氮磷钾肥说",sex:"女",English:75,Math:64},
				{name:"风俗礼节",sex:"女",English:75,Math:64},
				{name:"噶失联飞机",sex:"男",English:85,Math:67},
				{name:"噶奋斗",sex:"女",English:79,Math:34},
				{name:"给对方",sex:"女",English:94,Math:75},
				{name:"噶地方",sex:"男",English:99,Math:85}
				];
			}])
		</script>
	</body>
</html>
