<!DOCTYPE html>
<html ng-app="myApp">
	<head>
		<meta charset="UTF-8">
		<title>表头排序</title>
		<script type="text/javascript" src="../../../Resources/angular-1.6.0/angular.js" ></script>
	</head>
	<body>
		<div ng-controller="myController">
			<ul>
				<li>
					<span>序号</span>
					<span ng-click="title='name';nameDesc=!nameDesc;desc = nameDesc">姓名</span>
					<span ng-click="title='sex';sexDesc=!sexDesc;desc = sexDesc">性别</span>
					<span ng-click="title='age';ageDesc=!ageDesc;desc = ageDesc">年龄</span>
					<span ng-click="title='score';scoreDesc=!scoreDesc;desc = scoreDesc">分数</span>
				</li>
				
				<li ng-repeat="stu in data | orderBy:title:desc">
					<span>{{$index + 1}}</span>
					<span>{{stu.name}}</span>
					<span>{{stu.sex}}</span>
					<span>{{stu.age}}</span>
					<span>{{stu.score}}</span>
				</li>
			</ul>
		</div>
		
		<script type="text/javascript">
			angular.module("myApp",[]).controller("myController",["$scope",function($scope){
				$scope.title = "name";
				$scope.desc = 0;
				$scope.nameDesc =0;
				$scope.sexDesc = 0;
				$scope.ageDesc = 0;
				$scope.scoreDesc = 0;
				$scope.data = [
				{name:"lixuanyan",sex:"女",age:32,score:89},
				{name:"发的",sex:"男",age:72,score:59},
				{name:"时光飞逝",sex:"女",age:22,score:82},
				{name:"特热水",sex:"男",age:35,score:65},
				{name:"噶地方撒",sex:"男",age:62,score:84},
				{name:"发疯的撒",sex:"女",age:33,score:86},
				{name:"双方的撒",sex:"男",age:43,score:49},
				{name:"发生",sex:"女",age:42,score:79},
				];
			}]);
		</script>
	</body>
</html>
